*{
    margin: 0;
}
.container{
    margin: 15px;
    display: flex;
    justify-content: center;
}
.calculatorContainer{
    display: flex;
    padding: 20px;
    width: 50%;
    height: auto;
    justify-content: space-between;
    flex-direction: column;
    ;
}

